@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;600;700&display=swap');

@keyframes moveGradient {
    50% {
      background-position: 100% 50%;}
    }

root{
    --preto: #303030;
    --dourado:#fdc93a;
}

*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Signika', sans-serif;
    color:#252525;
}

body{
    margin: 0 3px;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    height:fit-content;
    margin-top: 8px;
    border-top: 1px solid rgba(245, 224, 104, 0.185);
}


.logo a{
    margin-top: 20px;
    flex: 30%;
    cursor: pointer;
}

.menu {
    font-size: 16px;
    margin-left: 40%;
    margin-top: 35px;
    flex: 70%;
    color: #252525;
    text-transform: uppercase;
    flex-flow: row nowrap;
}

.menu a{
    margin: 10px 20px;
    color:#fdce2e;
    font-size: 1.2rem;
    transition: all 500ms ease-in;
}

.menu a:hover{
    background-color:#fdce2e;
    color: #303030;
    opacity: 80%;
    padding: 10px 15px;
    transition: all 500ms ease-in-out;
}

.botao{
    font-weight: 400;
    position: relative;
    left: 25%;
    padding: 20px 35px;
    color: #252525;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 24px;

    background: linear-gradient(
      60deg,
      hsl(66, 23%, 17%),
      hsl(44, 85%, 66%),
      hsl(44, 78%, 55%),
      hsl(37, 82%, 89%),
      hsl(73, 84%, 71%));
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 10s alternate infinite;
    box-shadow: 3px 3px 15px hsl(44, 85%, 66%);
    opacity: 0.7;
}

.botao:hover{
    background:#fdce2e;
    box-shadow: 1px 1px 10px hsl(44, 85%, 66%);
}

.content{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    margin-top: 30px;
    margin-left: 30px;
    height: 400px;
}

.text{
    flex: 60%;
    color: #504f47;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
    margin-top: 30px;
}

.textoDev{
    margin-left: 10%;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 5px;
}

.textoNome{
    font-size: 50px;
    margin-left: 25%;
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 5px rgb(245, 224, 104);

}

.text p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    height: 100px;
    width:70%;
    margin-top: 15%;
}

.image{
    flex:25%;
    margin-right:10%;
    text-align: center;
}

#sobreMim{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 90px 30px auto;
    text-shadow:#fdce2e;
    font-family: sans-serif;
}

#about {
    text-align: justify;
    width: 600px;
}


.lista p {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.lista li {
    width: 200px;
    margin-left: 150px;
}

.ttm{
    text-align: center;
    margin: 1vh;
    padding: 15px 5px;
    font-size: 2rem;
    font-family: sans-serif;
    text-shadow: 1px 1px 5px  ;

}

#projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-flow: row wrap;
}
.proj:hover{
    opacity: 1;
}

.proj:not(:hover){
    opacity: 0.7;
}

.proj{
    margin-bottom: 5px;
}

.proj a{
    color: #252525;
    font-size: 1rem;
}

.proj img{
    width:380px; 
    height:200px;
}

.proj{
    min-width: 280px;
    max-width: 380px;
    height: 490px;
    border: 1px solid#fdce2e79;
    box-shadow: 5px 5px 3px#fdce2e79;
}

.proj p{
    height: 130px;
}

.proj button{
        cursor: pointer;
        font-weight: 700;
        font-family: Helvetica,"sans-serif";
        transition: all .2s;
        padding: 10px 20px;
        border-radius: 100px;
        background: #fdc93a;;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
      
    .proj button:hover{
    background:#fdc93a;
    }
      
    .proj button > svg{
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
    }
      
    .proj button:hover svg{
    transform: translateX(5px);
    }
      
    .proj  button:active{
    transform: scale(0.95);
    }
      
.rodape{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 10px;
    height:150px;
    border-top: 1px solid #303030;
    color:#252525;
}

#email{
    position: relative;
    border: none;
    font-size: 1.3em;
    width: 250px;
    margin-top: 70px;
    right: 90px;
}

#email input:hover{
    color:#4d4b4b;
}

#clipboard{
    position: relative;
    right: 80px;
    cursor: pointer;
    border: none;
    background: none;
    margin-top: 73px;

}

.socialMedia {
    display: flex;
    flex-flow: column;
    align-items: top;
    margin-left: 720px;
    margin-top: 20px;
    height: fit-content;
}

.socialMedia a{
    align-items: flex-end;
    font-size: 1.4rem;
    margin-bottom: 25px;
}

.socialMedia a:hover {
    padding: 15px;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #a39d66 0%, #fdc93a 100%);
    border-radius: 86px 20px 40px 55px;
    transition: .5s all ease-out;
    margin-bottom: 20px;

}

.float{
    display: flex;
    flex-flow: column;
    position: fixed;
    top:70%;
    right: 5px;
}

.float a{
    margin-bottom: 15px;
}

.float a:focus{
    box-shadow: 1px 1px 1px white;
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(41, 41, 41); 
  }

  ::-webkit-scrollbar-thumb {
    background:#fdce2e79;
    opacity: 0.5; 
  }

