@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

:root{
    --preto: #303030;
    --dourado:#fdc93a;
    --dourado2:#fdce2e;
    --branco:#f7f5f5;
    --background-color: #101010;
    --scnd-background-color: #1f100b;
    --accent-hover: #f6b066;
    --font-family-title:'Candal', sans-serif;
    --font-family-subtitle:'Raleway', sans-serif;;
    --font-family-text:'Hind', sans-serif;
    --border:#2b1a14;
    --font-size: 14px;
}