.footer{
    background-color: var(--scnd-background-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 10px;
    height:300px;
    width: 100%;
    border-top: 10px solid var(--border);
    color:var(--branco);
}

.footer > .titles{
    background-color: inherit;
    margin: 10px;
}

#email{
    position: relative;
    border: none;
    font-size: 1.3em;
    margin-top: 70px;
    right: 90px;
    background-color: inherit;
}

#email input:hover{
    color:var(--branco);
}

#clipboard{
    position: relative;
    right: 80px;
    cursor: pointer;
    border: none;
    background: none;
    margin-top: 73px;
}

.socialMedia {
    display: flex;
    flex-flow: column;
    align-items: top;
    margin-left: 720px;
    margin-top: 20px;
    height: fit-content;
    background-color: inherit;
}

.socialMedia a{
    align-items: flex-end;
    font-size: 1.4rem;
    margin-bottom: 25px;
    color: var(--branco);
    background-color: inherit;
}

.socialMedia a:hover {
    padding: 15px;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #5555 0%, var(--accent-hover), var(--dourado) 100%);
    border-radius: 86px 20px 40px 55px;
    transition: .5s all ease-out;
    margin-bottom: 20px;
}