.footer{
    background-color: var(--scnd-background-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 10px;
    height:250px;
    width: 100%;
    border-top: 10px solid var(--border);
    color:var(--branco);
}

.footer-container{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.2em;
}

.footer-container > .titles{
    display: block;
    background-color: transparent;
    width: 20%;
}

.footer-container > .titles:hover{
    cursor: default;
}

.footerContent{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 33.33%;
    height: fit-content;
    background-color: transparent;
}

.footerContent p {
    font-size: 1.2em;
    background-color: transparent;
    margin-top: 1em;
}

.footerContent i {
    color: var(--accent-hover);
}

.socialMedia {
    display: flex;
    flex-flow: column;
    align-items: top;
    height: fit-content;
    background-color: inherit;
    width: 20%;
}

.socialMedia a{
    width: fit-content;
    align-items: flex-end;
    margin-bottom: 1.5em;
    padding: 0em 1em;
    background-color: inherit;
    border-radius: 100px;
    border: 1px solid var(--accent-hover);
    font-size: 1.4em;
    color: var(--branco);
}

.socialMedia a:hover {
    background-image: linear-gradient(to right,
    #f6b066 5%,
    #db8b35,
    #915312 100%);
    border-radius: 100px;
    transition: .5s all ease-out;
}

.rights{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    background-color: transparent;
    letter-spacing: 3px;
    font-size: 12px;
}

.rights:hover{
    cursor: default;
}

.rights strong{
    color: var(--accent-hover);
    background-color: inherit;
    margin-left: 5px;
}

.scrollUp{
    background: inherit;
    display: flex;
    margin: auto;
    margin-left: 95%;
}

#scrollUp-btn:hover{
    cursor: pointer;
}

#scrollUp-btn{    
    background-color: var(--branco);
    width: 3.5em;
    height: 3em;
    border: none;
    border-radius: 50px;
    outline-offset: none;
    outline: none;
} 

#scrollUp-btn i{
    background-color: transparent;
    color: #915312;
    font-size: 1.5em;
}


