.content{
    display: flex;
    flex-flow: row nowrap;
    height: 600px;
    width: 100%;
    background-color:var(--scnd-background-color);
    border-bottom: 5px solid var(--border);
}

.content img{
    max-width: 40%;
}

.textBox{
    display: grid;
    gap: 0.5em;
    color: #504f47;
    background-color: inherit;
    margin-left: 5%;
    max-width: 40%;
}

.textBox p{
    background-color: inherit;
}

#name{
    font-size: 4em;
    letter-spacing: 5px;
    margin-top: 1em;
    font-family:var(--font-family-subtitle);
    text-shadow: 2px 2px 5px var(--accent-hover);
    text-align: center;
}

#occ{
    font-size: 2.5em;
    text-align: center;
    font-family: var(--font-family-subtitle);
    font-style: oblique;
}

#slogan{
    font-family: var(--font-family-text);
    font-size: 1.5em;
    max-width: 70%;
}

.btn{
    width:20%;
    height: fit-content;
    padding: 10px;
    position: relative;
    top: 450px;
    border-radius: 5px;
    color: var(--preto);
    text-transform: uppercase;
    text-align: center;
    font-size: calc(var(--font-size) + 10px);
    font-weight: 600;
    background: linear-gradient(
      60deg,
      #fad0a3,
      #f8bf81,
      #f6b066,
      #db8b35,
      #915312
      );
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 10s alternate infinite;
    box-shadow: 1px 1px 10px var(--accent-hover);
    opacity: 0.7;
}

.btn:hover{
    background: #db8b35;
}